// =  8.Elements
[class*="element"] {
    position: relative;
    a {
        &.link {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 4;
        }
    }
}

[class|="wrapimage-element"] {
    width: 100%;
    overflow: hidden;
    &:after {
        content: "";
        display: block;
        padding-top: 52.5%;
    }
    img,
    video {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &[class*="video"] {
        border-radius: 20px;
        &:after {
            padding-top: 47.25%;
            @include media(medium) {
                padding-top: 56.25%;
            }
        }
    }
    &[class*="square"],
    &[class*="round"] {
        &:after {
            content: "";
            display: block;
            padding-top: 100%;
        }
        img {
            width: auto;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &[class*="round"] {
        border-radius: 50%;
    }
}

[class|="loop-element"] {
    --loop-element-height: 420px;
    --loop-element-height-sm: 350px;
    --loop-element-height-fhd: 21.875vw;
    height: var(--loop-element-height);
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    @include media(small) {
        height: var(--loop-element-height-sm);
    }
    @include media(fhd) {
        height: var(--loop-element-height-fhd);
    }
    .marquee {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        overflow: hidden;
        pointer-events: none;
        height: var(--loop-element-height);
        display: flex;
        align-items: center;
        z-index: 2;
        @include media(small) {
            height: var(--loop-element-height-sm);
        }
        @include media(fhd) {
            height: var(--loop-element-height-fhd);
        }
        .marquee--inner {
            will-change: transform;
            width: fit-content;
            display: flex;
            position: relative;
            .wrapper {
                white-space: nowrap;
                position: relative;
                display: flex;
                align-items: center;
                &[class*="h1"] {
                    color: $primary-color;
                    span {
                        &[class*="line"] {
                            width: 52px;
                            height: 52px;
                            background-image: url(#{$assetPath}/globals/loop-element.svg);
                            background-repeat: no-repeat;
                            background-size: cover;
                            margin: 0 0.5rem 0.5rem 0.5rem;
                            @include media(fhd) {
                                width: 2.707vw;
                                height: 2.707vw;
                                margin: 0 0.4175vw 0.4175vw 0.4175vw;
                            }
                            @include media(small) {
                                width: 45px;
                                height: 45px;
                                margin: 0 0.4rem 0.4rem 0.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
    &:hover {
        .marquee {
            .marquee--inner {
                animation-play-state: paused;
            }
        }
    }
}