@font-face {
    font-family: 'Tusker Grotesk';
    src: url('../fonts/TuskerGrotesk-4500Medium.woff2') format('woff2'), url('../fonts/TuskerGrotesk-4500Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}