// =  8.Page Header
[class|="page-header"] {
    &[class*="home"] {
        display: flex;
        align-items: center;
        @media screen and (min-width: $full+1) {
            min-height: var(--viewport-height);
        }
        [class*="row"] {
            [class*="col-"] {
                &:nth-child(1) {
                    h1 {
                        >[class*="line"] {
                            &:nth-child(2) {
                                margin-top: -1rem;
                            }
                        }
                    }
                    p {
                        max-width: 526px;
                        @include media(fhd) {
                            max-width: 28vw;
                        }
                    }
                }
                &:nth-child(2) {
                    align-self: end;
                    p {
                        text-align: right;
                        max-width: 449px;
                        margin-right: 0px;
                        margin-left: auto;
                        @include media(fhd) {
                            max-width: 24vw;
                        }
                        @include media(full-hdi) {
                            max-width: 400px;
                        }
                        &[class*="h3"] {
                            @include media(full-hdi) {
                                font-size: 1.75rem;
                            }
                        }
                    }
                }
            }
            #scroll {
                @media screen and (min-width: $full+1) {
                    position: absolute;
                    left: 80px;
                    bottom: 50px;
                    left: var(--main-padding-left);
                }
            }
        }
    }
}