/*----- FONTS -----------------------------*/

@import url("https://use.typekit.net/lgo1aug.css");
$primary-font: 'Tusker Grotesk',
Helvetica,
Arial,
sans-serif;
$secondary-font: 'aktiv-grotesk',
Helvetica,
Arial,
sans-serif;
$paragraph-font: 'aktiv-grotesk',
Helvetica,
Arial,
sans-serif;
$alt-font: 'aktiv-grotesk',
Helvetica,
Arial,
sans-serif;

/*----- COLORS -----------------------------*/

$primary-color: #020202;
$secondary-color: #B188FF;
:root {
    --primary-color: #020202;
    --primary-color-light: #171717;
    --neutral-900: #020202;
    --neutral-800: #171717;
    --paragraph-color: #020202;
    --paragraph-color-light: #171717;
    --secondary-color: #B188FF;
    --accent: #B188FF;
    --secondary-color-2: #FCF6F4;
    --grey-bg: #FCF6F4;
    --dark-grey: #171717;
    --template-bg: #FCF6F4;
    --dark-bg: #020202;
    --white: #fff;
    --defaultElement: #fff;
}


/*----- PATH -----------------------------*/

$assetPath: '../images';

/*----- ELEMENTS -----------------------------*/

$mobile-menu-bg: var(--defaultElement);
$ctabox-element-bg: var(--defaultElement);
$icon-element-icon: var(--defaultElement);
$icon-element-bg: var(--defaultElement);
$icon-element-box-bg: var(--defaultElement);
$accordion-element-icon: var(--defaultElement);
$accordion-element-bg: var(--defaultElement);
$blockquote-element-bg: var(--defaultElement);
$navigation-element-bg: var(--defaultElement);
$input-form-bg: var(--defaultElement);
$dropdown-menu-bg: var(--defaultElement);
$dropdown-menu-item-bg: var(--defaultElement);
$button-menu-bg: var(--defaultElement);
$top-menu-bg: var(--defaultElement);
$menu-bg:var(--defaultElement);
$menu-bg-2row:var(--defaultElement);
$position-element-bg: var(--defaultElement);
$code-element-bg: var(--defaultElement);
$page-header-bg: var(--defaultElement);
$overlay-dark-bg: #192D35;
$arrow-headerslider-bg: var(--defaultElement);
$border-element-color: rgba(151,
151,
151,
0.47);

/*----- RESPONSIVE -----------------------------*/

$mobile: 414px;
$xsmall: 480px;
$small: 576px;
$medium: 768px;
$large: 991px;
$full: 1199px;