<div class="loop-element">
    <div class="marquee"><div class="marquee--inner">
        <div class="h1--lg text-uppercase wrapper"><span class="line"></span>Graphic Design<span class="line"></span>Art Direction<span class="line"></span>Branding<span class="line"></span>Packaging</div>
        <div class="h1--lg text-uppercase wrapper"><span class="line"></span>Graphic Design<span class="line"></span>Art Direction<span class="line"></span>Branding<span class="line"></span>Packaging</div>
    </div></div>
</div>