<header id="header" class="fixed--transparent" role="banner">
    {{!-- <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wrap-header--padding-sm--container">
                    <nav class="main-navigation">
                        <!--  Header Logo  -->
                        <!--  height-sm, height-md, height-lg  -->
                        <div id="logo" class="height-sm">
                            <a class="navbar-brand" href="/">
                            </a>
                        </div>
                        <!--  END Header Logo  -->
                        <!--  Menu  -->
                        <div id="main-menu" aria-expanded="false" role="navigation">
                            <div class="menu-holder" data-hidden="xl">
                                <ul>
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="menu-button--double" data-visible="xl">
                                <div class="icons">
                                    <span class="bar bar-1"></span>
                                    <span class="bar bar-2"></span>
                                    <span class="bar bar-3"></span>
                                </div>
                                <div class="title">
                                    Menu
                                </div>
                            </div>
                        </div>
                        <div id="mobile-menu" class="full--bg" aria-expanded="false" role="navigation">
                            <div class="mobile-wrap">
                                <!-- items-lg, items-md -->
                                <div class="main-links--items-lg col-12 col-md-6">
                                    <ul>
                                        <li>
                                            <a href="/">
                                                <span>Home</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="cta">
                            <div class="lang">
                                <a href="/{{pageIt}}" class="active">it</a>
                                <a href="/en/{{pageEn}}">en</a>
                                <a href="/de/{{pageDe}}">de</a>
                            </div>
                        </div>
                        <!--  END Menu  -->
                    </nav>
                </div>
            </div>
        </div>
    </div> --}}
</header>