{{> partials/head
    lang="it"
    title="Page | Company" 
    description="Description"
    canonical="https://site.com"
    socialTitle="Company | Payoff"
    socialImage="https://site.com/images/globals/cover-social.jpg"
    socialDescription="Description"
    siteUrl="https://site.com"
    companyName="Company"
}}

<body class="home-template" style="min-height: 4000px;">
    <!--  Main Wrap  -->
    <main>
        <div id="main-wrap">
            <!--  Header & Menu  -->
            <!--  padding-sm, padding-md, padding-lg  -->
            {{> partials/navigation}}
            <div class="page-header--home">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-xl-7">
                            <h1 data-animation="hero" class="xl text-uppercase">Barbara<em>Scerbo</em></h1>
                            <p data-animation="text" class="h5 lh-150">Ho una vera ossessione per la carta, stampa e nobilitazioni ma mi ritrovo sempre su progetti digital!</p>
                        </div>
                        <div class="col-12 col-xl-5">
                            <p data-animation="text" class="h3 lh-130">Sono una creativa siciliana esportata a Milano. <br>Mi occupo di branding, direzione creativa e consulenza.</p>
                        </div>
                        <div id="scroll"><span class="h3 text-uppercase ffpar--lh100">(<i class="f500">scroll</i>)</span></div>
                    </div>
                </div>
            </div>
            <div class="page-content--home" id="page-content">
                <section id="video" data-padding="mdtop">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h2 data-animation="split" class="ffpar text-uppercase f500">Vedi il mio showreel 2023<sup>©</sup></h2>
                                <div class="wrapimage-element--video">
                                    <video muted autoplay loop>
                                        <source src="https://bb.agency/wp-content/uploads/2023/01/showcase.webm" type="video/webm"><source>
                                        <source src="https://bb.agency/wp-content/uploads/2022/06/showcase.mp4" type="video/mp4"><source>
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="loop-wrapper" data-margin>
                    {{> partials/loop-element}}
                </section>
                <section id="intro">
                    <div class="container">
                        <div class="grid">
                            <div class="g-col">
                                <h2 class="h1--ffpar--f500" data-animation="split">Aiuto startup e aziende a migliorare il proprio <em>brand</em> e la propria <em>comunicazione</em>.</h2>
                                <a href="" class="btn--lg--line--arrow"><div class="circle-arrow"></div><div class="label">Conosciamoci meglio</div><div class="circle-arrow"></div></a>
                            </div>
                            <div class="g-col">
                                <p class="h4 lh-130" data-animation="text">Sono fermamente convinta che la <strong>comunicazione abbia un ruolo di enorme responsabilità all’interno della nostra società.</strong> Per questo motivo il mio approccio si basa sul conoscere le realtà che si affidano a me in profondità e dedicare il giusto tempo e la giusta attenzione ad ogni singolo progetto.</p>
                                <a href="" class="btn--lg--line--arrow"><div class="circle-arrow"></div><div class="label">Conosciamoci meglio</div><div class="circle-arrow"></div></a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="title--works" data-margin="xltop">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="h1--xl text-uppercase" data-animation="split">I MIEI LAVORI</h2>
                                <p class="h4 lh-130">Ecco una <strong>selezione aggiornata</strong> di alcuni lavori e progetti personali che ho realizzato in questi anni:</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            {{> partials/footer}}