{{> partials/head
    lang="it"
    title="Page | Company" 
    description="Description"
    canonical="https://site.com"
    socialTitle="Company | Payoff"
    socialImage="https://site.com/images/globals/cover-social.jpg"
    socialDescription="Description"
    siteUrl="https://site.com"
    companyName="Company"
}}

<body class="home-template">
    <!--  Main Wrap  -->
    <main>
        <div id="main-wrap">
            <!--  Header & Menu  -->
            <!--  padding-sm, padding-md, padding-lg  -->
            {{> partials/navigation}}
            <div class="page-header--page">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content--page" id="page-content">
                <section id="intro">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            {{> partials/footer}}